@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.reg {
  font-family: "Popins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://wallpapercave.com/wp/wp12866309.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.log {
  font-family: "Popins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://wallpapercave.com/wp/wp12481752.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border-shadow: 0 0 10px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 50px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 10px;
  margin: 30px, 0;
  padding: 30px;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.custom-select {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  margin-bottom: 20px;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 10px 10px 10px 15px;
}

/* Styling the dropdown arrow */
.custom-select::-ms-expand {
  display: none;
}

.custom-select::before {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-30%);
  color: white;
}

.custom-select option {
  background-color: black;
  color: white;
  padding: 10px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  margin-right: 40px;
  padding: 10px 10px 10px 15px;
}

.input-box input::placeholder {
  color: #fff;
}

.icon {
  position: absolute;
  right: 30px;
  top: 89%;
  transform: translateY(-50%);
  font-size: 16px;
  margin-right: 20px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 25px 35px 15px 30px;
  margin-top: 40px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  color: #d8d6df;
  scale: 1.1 ease-out;
}

.wrapper button {
  width: 65%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  margin-left: 60px;
  margin-top: 60px;
}

button1 {
  width: 65%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  margin-left: 60px;
  margin-top: 60px;
}

.wrapper button:hover {
  transform: scale(1.1);
}

button1:hover {
  transform: scale(1.1);
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #cdc292;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  color: #a8a28b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.para {
  lef1t-marin: 2001px;
}
